.carousel {
  margin: 40px auto;
  width: 90%;
  height: 20%;
  overflow: hidden;
}

.inner {
  display: flex;
  width: 200%;
  animation: spin 25s linear infinite;
  will-change: transform;
  transform: translate3d(0, 0, 0);
}

.group {
  display: flex;
  gap: 0;
  /* flex: 0 0 50%;
  align-items: center; */
}

.card {
  flex: 0 0 10em;
  width: 10em;
  height: 15em;
  border-radius: 0.5em;
  overflow: hidden;
   margin-right: 1em;
   box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.35),
    0 4px 10px rgba(240, 240, 240, 0.25);
   
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  user-select: none;
  
}

@keyframes spin {
  to {
    transform: translateX(-50%);
  }
}
.group:last-child .card:last-child {
  margin-right: 0;
}